@tailwind base;
@tailwind components;
@tailwind utilities;


const
html,
body {
  height: 100%;
  background: #000;
  color: #fff;
}


::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: #fff;
}

